<!DOCTYPE html>
<html>
  <head>
    <title>Nuggets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white-100 dark:bg-gray-900 text-gray-900 dark:text-white"
        data-controller="color-theme">
    <header>
      <%= render "layouts/navbar" %>
    </header>
    <div class="container mx-auto flex justify-end px-2">
      <%= render "layouts/theme_selector" %>
    </div>
    <main class="container mt-8 px-5 flex-column mx-auto max-w-screen-xl md:px-6">
      <%= yield %>
    </main>
  </body>
</html>
